{% extends 'gis/base.html' %}

{% block title %}
    Map
{% endblock %}
    >
{% block content %}
    <h3>Map</h3>

    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque aut consequatur error, explicabo fuga
        illum iste itaque laudantium minima necessitatibus nihil nostrum, provident quis saepe sed, tempora ullam vel.
    </div>
    <div>Aliquid assumenda culpa dolore earum, incidunt, inventore natus possimus quos tempore, tenetur ullam vel
        voluptatem voluptatum. Autem, dolores error fugit minus nulla vel voluptatibus. Consectetur nobis perferendis
        reiciendis suscipit tempora!
    </div>
    <div>Dolorem eos harum hic sit ullam. A alias asperiores, at autem consequuntur culpa cumque dolore dolores
        exercitationem labore nobis odio quia quo quod ratione, repellendus sapiente ullam ut vel voluptate.
    </div>
    <div>Aliquid iure quia vitae! Ab, aliquid atque hic ipsa ipsam modi nobis odio quaerat, quam qui rerum unde vero.
        Alias aspernatur cumque distinctio dolore eos error laborum nihil officia veritatis?
    </div>
    <div>Animi eligendi exercitationem iste nihil quae repellat voluptas. Autem doloremque ducimus ea esse facilis
        placeat quis reiciendis soluta. Aspernatur commodi doloremque in iure magnam quasi quod sapiente tempora
        temporibus voluptatem.
    </div>

{% endblock %}